
#public-comments-page {
}

#comments-container {
  border: 1vw solid #0f0f0f;
}
.public-comment {
  font-size: 2.2vw;
  position: relative;
  border: 0.5vw solid black;
  border-radius: 2vw;
  padding: 1vw;
}