
body {
 background-color: #0F0F0F;
 color: white;
}
form {
  position: absolute;
  width: 80%;
  height: auto;
  inset: 10% auto auto auto;
  justify-content: center;
  text-align: center;
  background-color: #2F2F2F;
  border-radius: 20px;
display: inline-block;
  padding: 10px 20px;
  color: green;
  opacity: 1;
  transform: translateY(0);
 transition: opacity 0.7s ease, transform 0.7s ease;
}
button {
  color: black;
}
.closeButton {
  cursor: pointer;
  color: white;
  background: red;
  position: absolute;
  inset: 10px 10px auto auto;
  display: inline-block;
  width: auto;
  height: auto;
}
#userInfo {
  z-index: 999;
  justify-content: center;
  background-color: #2F2F2F;
  color: green;
  padding: 15px 15px;
  position: absolute;
  text-align: center;
  inset: 200px 15px;
  border-radius: 15px;
  opacity: 1;
  transform: translateY(0);
 transition: opacity 0.7s ease, transform 0.7s ease;
 width: 375px;
 height: 150px;
 opacity: 0,5;
}
.returnHomeBtn {
  display: flex;
  justify-content: center;
  background-color: red;
  border-radius: 5px;
  position: absolute;
  inset: 5px 5px auto auto;
  width: 40px;
  height: 40px;
  z-index: 998;
  background: url("images/homebtn.png") center/cover no-repeat;
}
.returnHomeBtn img {
  pointer-events: none;
}
.returnHomeBtn:hover {
  background-color: darkred;
}
form.hide {
  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
}
#userInfo.hide {
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
}
.app {
  transition: all 0.3s ease;
}
.hide {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
}
.app.hide {
  transform: translateX(30px);
  opacity: 0;
}
}
.destroy {
  display: none;
}
.sectionContainer {
  margin: 20px;
  z-index: 0;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 90px;
  border-radius: 15px;
  background-color: #00ede2;
  color: black;
  transition: transform 0.5s ease;
}
#sections {
}
.sectionContainer:hover {
  transform: scale(1.05);
}
.sectionContainer.completed {
  background-color: gold;
}
.sectionContainer.sectionInfo {
  background-color: silver;
}
.sectionImg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  display: block;
}
.sectionButton {
  position: absolute;
  inset: auto 10px 10px auto;
  background-color: black;
  color: lime;
  font-size: 1,2rem;
  z-index: 1;
}
.sectionTitle {
  position: absolute;
  inset: 0px auto auto 20px;
  z-index: 1;
  font-size: 1,5rem;
}
.stateOfSection {
  justify-content: center;
  height: 20px;
  width: 200px;
  background: #0F0F0F;
  font-size: 15;
  position: absolute;
  inset: 5px -30px auto auto;
  z-index: 3;
  font-family: helvetica;
  transform: rotate(18deg);
}
.completedState {
  color: lime;
  z-index: 4;
  position: absolute;
  inset: -18px 32px auto auto;
}
#noteApp {
  position: relative;
  background-color: #2a2a2a;
  height: 90%;
  width: 95%;
  margin: 7px;
  padding: 7px;
  overflow-wrap: anywhere;
  word-break: normal;
  overflow-y: auto;
}
.note {
  position: relative;
  color: green;
  position: relative;
  inset: auto auto auto 0;
  width: 90%;
  height: 63px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: 15px;
  border-radius: 7px;
  padding: 6px;
  justify-content: top-left;
  overflow-y: auto;
  word-wrap: break-word;
  white-space: normal;
}
.noteText {
  position: absolute;
  top: -13px;
}
.tachado {
  text-decoration: line-through;
}
.doneButton {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: grey;
  inset: 27px 10px auto auto;
}
.doneTask {
  
}
#deleteNotesButton {
  width: auto;
  height: 20px;
  top: 0px;
  left: 0px;
}
#songPlayer {
  position: relative;
  background-color: #2a2a2a;
}
#songList {
  overflow-y: auto;
  height: 95%;
}
#songControls {
  position: relative;
  inset: auto 0px 0px auto;
  width: 95%;
  background-color:#2a2a2a00
  display: flex;
  justify-content: center;
}
#songName {
  position: relative;
  inset: 15px auto auto 15px;
  font-size: 40;
}
.songButtons {
  margin: 2px;
  border-radius: 10px;
}
#songPlayerHeader {
  background-color: grey;
  position: relative;
}
.songSection {
  position: relative;
  left: 10px;
  color: white;
  height: 50px;
  width: 90%;
  border-radius: 20px;
  background-color: #0f0f0f;
  transition: transform 0.2s ease;
}
.songSection:hover {
  transform: scale(1.05);
}
.songSectionTitle {
  position: relative;
  inset: 7px auto auto 12px;
}
#progressBar {
  accent-color:#b50076;
  width: 95%;
  left: 10px;
}
#songTimer {
  position: absolute;
  inset: auto 10px -18px auto
}
#frecuencyGraph {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  height: 60%;
  border: 2px solid black;
  width: auto;
}
#graphContainer {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  height: 60%;
  border: 2px solid black;
  width: auto;
  margin-top: 30px;
}
.graphicBar {
  background-color: silver;
  color: black;
  position: relative;
}
.barLavel {
  position: absolute;
  bottom: -20px;
  width: 100%;
  text-align: center;
  color: black;
}