
body {
 background-color: #1F1F1F;
 color: white;

}
#main {
  height: 100%;
  width: 100%;
}
.refresh-btn {
  background-color: red;
  border-radius: 1vw;
  width: 9vw;
  height: 9vw;
  z-index: 18;
  background: url("images/refresh-btn.png") center/cover no-repeat;
}
.add-btn {
  background-color: red;
  border-radius: 1vw;
  width: 9vw;
  height: 9vw;
  z-index: 18;
  background: url("images/add-btn.png") center/cover no-repeat;
}
.delete-btn {
  border-radius: 1vw;
  width: 5vw;
  height: 5vw;
  z-index: 18;
  background: red url("images/delete-btn.png") center/cover no-repeat;
  position: absolute;
  inset: 1.5vw 1.5vw auto auto
}
.send-btn {
  background-color: red;
  border-radius: 1vw;
  width: 9vw;
  height: 9vw;
  z-index: 18;
  
}
#confirmation-component {
  border: solid 0.5vw black;
  font-size: 3.8vw;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  width: 65vw;
  height: 27vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  grid-gap: 5px;
  grid-template-areas:
  "bar bar bar bar bar"
  "info info info info info"
  "info info info info info"
  "info info info info info"
  "options options options options options"
}
#confirmation-component-bar {
  display: flex;
  background-color: blue;
  justify-content: flex-end;
  grid-area: bar;
}
#confirmation-component-close-btn{
 height: 100%;
 aspect-ratio: 1/1;
 border-radius: 1vw;
 background: red url("images/close-btn.png") center/cover no-repeat;
}
#confirmation-component-info {
  margin: 0 2vw 0 2vw;
  overflow-y: auto;
  grid-area: info;
  word-break: break-word;
}
#confirmation-component-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: options;
  
}
#confirmation-component-options button {
  color: white;
  background-color: grey;
  margin: 0.5vw;
}
#confirmation-component-cancel {
  font-size: 2.8vw;
  
}
#confirmation-component-proceed {
  font-size: 2.8vw;
  
}
#signInForm {
  position: absolute;
  width: 80%;
  height: 35vw;
  inset: 30vw auto auto 0;
  justify-content: center;
  text-align: center;
  background-color: #2F2F2F;
  border-radius: 3vw;
  box-shadow: 0 0 45px 10px green;
display: inline-block;
  padding: 2vw 5vw;
  color: green;
  opacity: 1;
  transform: translateY(0);
 transition: all 1.5s ease;
 font-size: 5vw;
}
#submit {
  width: 20vw;
  height: 6vw;
  font-size: 5vw;
}
#signInForm.error{
  color: red;
  box-shadow: 0 0 45px 10px red;
}
.neon {
  transition: all 0.3s ease;
}
button {
  color: black;
}
.closeButton {
  cursor: pointer;
  color: white;
  background: red;
  position: absolute;
  inset: 3vw 3vw auto auto;
  display: inline-block;
  width: auto;
  height: auto;
}
.highlighted {
  color: white;
  transform: scale(1.2);
  transition: all 0.5s ease;
}
#userInfo {
  overflow-y: scroll;
  font-size:min(4vw);
  z-index: 999;
  justify-content: center;
  background-color: #2F2F2F;
  color: green;
  padding: 3vw 3vw;
  position: absolute;
  text-align: center;
  inset: 20vw 4vw;
  border-radius: 15px;
  opacity: 1;
  transform: translateY(0);
 transition: opacity 0.7s ease, transform 0.7s ease;
 width: 90vw;
 height: 40vw;
 opacity: 0,5;
 
}
#userInfo button {
  width: 5vw;
  height:5vw;
  font-size:4vw;
}
.return-btn {
  background-color: red;
  border-radius: 1vw;
  position: absolute;
  inset: 2vw 2vw auto auto;
  width: 9vw;
  height: 9vw;
  z-index: 18;
  background: url("images/return-btn.png") center/cover no-repeat;
}
.minimizarBtn {

  background-color: red;
  border-radius: 5px;
  position: absolute;
  inset: 5px 45px auto auto;
  width: 10vw;
  height: 10vw;
  z-index: 998;
}
.return-btn:hover {
  background-color: darkred;
}
#signInForm.hide {
  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
}
#signInForm input {
  width: 25vw;
  height: 4vw;
  font-size:4vw;
}

#userInfo.hide {
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
}
.app {
  transition: all 0.3s ease;
}
.hide {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
}
.app.hide {
  transform: translateX(30px);
  opacity: 0;
}
}
.destroy {
  display: none;
}
#sections {
  position:relative;
  inset: 10vw auto auto auto;
}
.sectionContainer {
  margin: 4vw;
  position: relative;
  z-index: 0;
  overflow:hidden;
  width: 90vw;
  height: 20vw;
  border-radius: 10%;
  background-color: #00ede2;
  color: black;
  transition: transform 0.5s ease;
}
#sections {
}
.sectionContainer:hover {
  transform: scale(1.05);
}
.sectionContainer.completed {
  background-color: gold;
}
.sectionContainer.sectionInfo {
  background-color: silver;
}
.sectionImg {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -10;
  display: block;
}
.sectionButton {
  position: absolute;
  inset: auto 5vw 5vw auto;
  background-color: black;
  color: lime;
  font-size: 3vw;
  z-index: 1;
}
.sectionTitle {
  position: absolute;
  inset: 1vw auto auto 10vw;
  z-index: 1;
  font-size: 5vw;
}
.stateOfSection {
  justify-content: center;
  height: 5vw;
  width: 60vw;
  background: #0F0F0F;
  font-size: 4vw;
  position: absolute;
  inset: 1vw -6vw auto auto;
  z-index: 3;
  transform: rotate(18deg);
}
.completedState {
  color: lime;
  z-index: 4;
  position: absolute;
  inset: -5vw 6vw auto auto;
}
textarea{
  width: 60vw;
  height: 10vw;
  font-size: 2vw;
  background-color: black;
  color: white;
}
placeholder {
  width: 20vw;
  height: 7vw;
}
#noteApp {
  font-size: min(4vw);
  position: relative;
  background-color: #2a2a2a;
  height: 90vw;
  width: 95vw;
  margin: 7px;
  padding: 7px;
  overflow-wrap: anywhere;
  word-break: normal;
  overflow-y: auto;
}
#noteApp button {
  font-size: min(5vw);
}
#addNoteButton {
  width: 5vw; 
  height:5vw;
}
.note {
  position: relative;
  color: green;
  position: relative;
  inset: auto auto auto 0;
  width: 90%;
  height: 9vw;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin: 15px;
  border-radius: 7px;
  padding: 6px;
  justify-content: top-left;
  overflow-y: auto;
  white-space: normal;
}
.noteText {
  position: absolute;
  top: -2vw;
}
.tachado {
  text-decoration: line-through;
}
.doneButton {
  position: absolute;
  width: 5vw;
  height: 5vw;
  background-color: grey;
  inset: 5vw 2vw auto auto;
}
.doneTask {
  
}
#deleteNotesButton {
  width: auto;
  height: 5vw;
}
#songPlayer {
  position: relative;
  background-color: #2a2a2a;
}
#songList {
  overflow-y: auto;
  height: 95%;
}
#songControls {
  position: relative;
  inset: auto 0px 0px auto;
  width: 95%;
  background-color:#2a2a2a00
  display: flex;
  justify-content: center;
  font-size:5vw;
}
#songControls button {
  font-size: 4vw;
}
#songName {
  position: relative;
  inset: 4vw auto auto 4vw;
  font-size: 10vw;
}
.songButtons {
  margin: 1vw;
  height:5vw;
  width: 20vw;
  border-radius: 2vw;
}
#songPlayerHeader {
  background-color: grey;
  position: relative;
}
.songSection {
  position: relative;
  left: 2vw;
  color: white;
  height: 9vw;
  width: 90%;
  border-radius: 4vw;
  background-color: #0f0f0f;
  transition: transform 0.2s ease;
}
.songSection:hover {
  transform: scale(1.05);
}
.songSectionTitle {
  position: relative;
  font-size:4vw;
  inset: 1.1vw auto auto 2vw;
}
#progressBar {
  accent-color:#b50076;
  width: 95%;
  height: 3vw;
  left: 2vw;
}
#songTimer {
  position: absolute;
  inset: auto 2vw -3vw auto
}
#statsApp{
  font-size: 5vw;
}
#frecuencyGraph {
  font-size: 5vw;
  display: flex;
  align-items: flex-end;
  gap: 1vw;
  width: 90vw;
  height: 40vw;
  border: 0.5vw solid black;
  width: auto;
}
.label {
  position: relative;
  inset: 0.1vw auto auto 0.5vw;
  z-index: 800;
}
#graphContainer {

  display: flex;
  align-items: flex-end;
  gap: 1vw;
  height: 40vw;
  border: 0.5vw solid black;
  width: 90vw;
  margin-top: 5vw;
}
.graphicBar {
  background-color: silver;
  color: black;
  position: relative;
}
.barLavel {
  position: absolute;
  bottom: -5vw;
  width: 100%;
  text-align: center;
  color: black;
}
.fadein {
  padding: 0 0 0 2vw;
  inset: auto auto auto 7vw;
  opacity: 0;
  transform: translateX(-6vw);
  animation: fadeIn 0.5s forwards;
  transition: all 0.5s ease;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.description {
  position: relative;
  justify-content: center;
  align-items: center;
  left: 3vw;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s ease;
}
.description.expanded {
  max-height: 10vw;
  opacity: 1;
}
#aboutMeApp {
  font-size: 5vw;
  position: absolute;
  padding: 1vw;
  border-radius: 2vw;
}
.view {
  transition: all 1s ease;
}
.hiperview { 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(3);
  z-index:101; 
  transition: all 0.6s ease;
}
.review-item.hiperview {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: min(80vw);
  transform: translate(-50%,-50%) scale(1.5);
  z-index:101; 
  
}
.hiperview h4 {
  font-size: 2rem;
}